<div class="section">
    <h3>Entity Types</h3>
    <div class="row">
        <div class="col-sm-12">
            <a href="#/entity-types/add" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-plus"></span> Add
            </a>
        </div>
    </div>
    <div class="row">
        <div>
            <div class="col-sm-8">Code</div>
            <div class="col-sm-2">Property count</div>
            <div class="col-sm-2">Actions</div>
        </div>
        <hr/>
        <div ng-repeat="item in items">
            <div class="col-sm-8">{{::item.code}}</div>
            <div class="col-sm-2">{{::item.propertyDefinitions.length}}</div>
            <div class="col-sm-2">
                <a href="#/entity-types" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-eye-open"></span>
                </a>
                <button class="btn btn-default btn-sm" ng-click="onRemove(item.id)">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </div>
        </div>
    </div>
</div>