<div class="section">
    <div class="form-group">
        <label>Code</label>
        <input type="text" ng-model="item.code" class="form-control">
    </div>

    <hr/>
    <div class="section">
        <button class="btn btn-default btn-sm" ng-click="onAddPropertyDefinition()">
            <span class="glyphicon glyphicon-plus"></span> Add property
        </button>
        <div class="row">
            <div>
                <div class="col-sm-10">Code</div>
            </div>
            <hr/>
            <div ng-repeat="property in item.propertyDefinitions">
                <div class="col-sm-10">
                    <input type="text" ng-model="property.code" class="form-control">
                </div>
            </div>
        </div>
    </div>

    <button class="btn btn-default btn-sm" ng-click="onSave()">
        <span class="glyphicon glyphicon-save"></span> Save
    </button>
</div>